node_modules
dist
build
coverage
.env
.DS_Store
.idea
.vscode
*.log
*.tsbuildinfo
*.cache
*.tmp
*.bak
*.swp
*.swo
*.zip
*.tar.gz    

.env
.env.*

# React Router
/.react-router/
/build/
apps/web/.react-router/