PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres?schema=public

BETTER_AUTH_SECRET=sSkLwSzAeIrJh9rvFgS/Nrbn6aZ/f9ENe2nVicKBkeY=
BETTER_AUTH_URL=http://localhost:3000

CORS_ORIGINS=http://localhost:5173
